{% extends 'base.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}
    <h1>Detail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detail.id }}</td>
            </tr>
            <tr>
                <th>ImageFileName</th>
                <td>{{ detail.imageFileName }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ detail.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ detail.description }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ detail.tarif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_detail_index') }}">back to list</a>

    <a href="{{ path('app_detail_edit', {'id': detail.id}) }}">edit</a>

    {{ include('detail/_delete_form.html.twig') }}
{% endblock %}
